@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기존 배경 설정 */
body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/background.png');
  min-height: 100vh;
}

/* 둥둥 떠다니는 애니메이션 */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 1.7s ease-in-out infinite;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 0.9s ease-out forwards;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInDelayed {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 2.6s ease-out forwards;
  }

  .animate-fade-in-delayed {
    animation: fadeInDelayed 0.8s ease-out 0.3s forwards;
  }
}
